/* DEFAULT FONTS */
.fonttype-1{
	font-family: 'Arvo', serif;
}

.fonttype-2{
	font-family: 'Lora', serif;
}



/* DEFAULT SIZES */
p, a, body {
	font-size: 14px;                /* <-- ALL OTHER SIZES ARE RELATIVE TO THIS ONE*/
	font-family: 'Lora', serif;
	color: inherit;  
} 

a:hover{
	color: inherit;
	text-decoration: none;  
}

body {
	color: white; 
	background-color: black;	
}

h1, h2, h3, h4, h5{
	font-family: 'Arvo', serif;
	color: inherit;  
}

h1{
	font-size: 2em;
}

h2{	
	font-size: 1.5em;
}

h3{
	font-size: 1em;
}

h4{
	font-size: .90em;
}

h5{
	font-size: .80em;
}

small{
	font-size: .75em;
}


.reallyBig{
	font-size: 3.5em;
}

.kindaBig{
	font-size: 2em; 
}




/* HEADER MAIN */
#headerMain a{
	font-family: 'Arvo', serif;
	color: white;
	font-size: .8em;
}

#headerMain .header-bar{
	background-color: rgba(0, 152, 87, 1); 
	color: white; 
	width: 100%; 
	height: auto; 
	padding: 10px
}




/* CODE AND PRE */
pre,
code  {font-family: consolas, courier, monospace;
       font-size: 1em;
       line-height: 1.2em;
       white-space: pre; 
       background-color: white; 
       color: gray; /* likewise the background-color comment */
       border: 1px solid #008cba;
       -moz-border-radius: .2em;
       -webkit-border-radius: .2em;
       border-radius: .2em; /* just in case */
       padding: 1em;
       width: 100%;        
       margin-top: 1em;
       margin-bottom: 1em;
}

pre:hover{
	color: black; 
}


input.ng-invalid {
	color: red;
	border: 1px red solid;
}




.fix-a{	
	text-decoration: none;
	cursor: pointer; 	
}


.ta-editor{
	padding: 10px; 
	background-color: white; 
}


input{
	padding: 8px; 
	margin-bottom: 15px; 
}

label{
	color: inherit; 
}

/* SITE SPECIFIC */




.img-responsive-max{
  display: block;
  height: auto;
  width: 100%;
  margin-left: auto; 
  margin-right: auto
}

.isPointer{
	cursor: pointer;
	
}

.angucomplete-holder .form-control-custom{
	height: 50px; 
}

.hideMe{ 
	opacity: 0; 
	height: 0px; 
}

.vanish{
	opacity: 0;
	height: 0px;
	transition: .25s;
	pointer-events: none;
}

.reveal{
	opacity: 1;
	height: auto;
	transition: .25s;
	pointer-events: auto;
}

.searchNav{
	position: fixed; 
	height: 85px; 
	top: 35px; 
	background-color: rgba(0, 0, 0, .85); 
	width: 100%; 
	z-index: 10;	
	min-width: 550px;			
}
			
.sn-active{
	margin-top: 0px;
	transition: .5s; 
}	
.sn-hide{
	margin-top: -125px;
	transition: .5s; 
}	

.iconBox{
	float: left; 
	border-radius: 15px;
	height: 275px; 
	padding: 5px; 
}

.inputFitting{
	height: 37px;
}

.div-padding{
	padding-top: 50px;
	padding-bottom: 15px;
}

.shade-of-black{
	background-color: rgba(0,0,0, .55)
}

.div-boundry{
	overflow: hidden; 
	border-top: 2.5px solid rgba(0, 0, 0, .8);
	border-bottom: 2.5px solid rgba(0, 0, 0, .8); 
}


