
.angular-center-container {
  position: relative;
	top:0;
	left:0;
	height:100%;
	width:100%;
	display:table;
}
.angular-centered {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}



.angular-gap {
	width: 100%; 
	height: 50px; 
	float: left; 	
}