<div style='position: fixed; top:0px; height: 80px; width: 100%; z-index: 9999; padding: 16px; background-color: black'>			
		<select class='small-12 columns black-font' style='height: 51px' ng-change='activateSearch()' ng-model="selectObj.active" ng-options="entry.name for entry in typeAhead">
			 <option value="">--</option>
			<!-- CONTENT FILLED -->	
		</select>	
</div>

<div id='content-page' ng-class="{false: 'hideMe'}[fullyLoaded]" style='background-color: rgba(0, 152, 87, .1); padding-top: 0px; padding-bottom: 0px;'>
			
			
		<gap></gap>	
		<gap></gap>	
		
		<div class='row'>
			<div class="small-12">
					<div class="columns">
					<h1>MOBILE VERSION coming soon!</h1>
					</div>
			
					<!-- INFO -->
					<div ng-include src="'fragments/content/info.html'"></div>
					
					<!-- FACTS -->
					<div ng-include src="'fragments/content/facts.html'"></div>
					
					<!-- ODDS -->
					<div ng-include src="'fragments/content/odds.html'"></div>
			
			
					<!-- CREDITS -->
					<div class="small-12 columns div-padding">
						<div class='row'>
							<div class="small-6 columns pull-left">
								<h5>Entry created by: {{queryResults.submitter}}</h5>
								<p>Last edited: {{entryDate}}</p>
							</div>
							<div class="small-6 columns pull-left"> 
								<div class='pull-right' ng-if="queryResults.submitterID == '' || queryResults.submitterID == userData.id || userData.permission == 'superadmin'"> 
									<button ui-sref="page2({type: 'edit', name: queryResults.name})" class='button'> <i class="fa fa-pencil-square-o"></i> Edit </button>
								</div>
							</div>
						</div>
					</div>
				
			</div>
		</div>
			
</div>