<!-- SEARCH NAV -->
		<div style='position: fixed; top:35px; height: 85px; width: 100px; z-index: 9999; padding: 16px;'>
			<button class='button radius' ng-click='showSearch = !showSearch'><i class="fa" ng-class='{true: "fa-sign-out", false: "fa-sign-in"}[showSearch]'></i></button>
		</div>
	
		<div id='search_nav' class='searchNav' style='opacity: 0' ng-class='{true: "sn-active", false: "sn-hide"}[showSearch]'>
						
						<div class='small-10 medium-6 large-4 columns pull-right'>
							<br>
							<div class='small-4 pull-right'>
								<button ng-click='getRandomEntry()' class='pull-left small-12 columns'>
									<i class="fa fa-random"></i>					
									<i ng-class='{false: "hidden"}[isSearching]' class="fa fa-cog fa-spin"></i>								
								</button>&nbsp;&nbsp;												
							</div>
							<div class='small-8 pull-right'>
								<angucomplete 
									id="ex1"				
							        placeholder="Search database"
							        pause="100"
							        selectedobject="searchObj"
							        localdata="typeAhead"
							        searchfields="name"
							        descriptionfield="subname"
							        imagefield=""
							        titlefield="name"
							        minlength="1"
						            inputclass="form-control-custom"
				            	/>            	  
			            	</div> 
						</div>
		</div>
		
	
		<!-- PAGE NAME -->
		<div id='content-page' ng-class="{false: 'hideMe'}[fullyLoaded]" style='background-color: rgba(0, 152, 87, .1); padding-top: 0px; padding-bottom: 0px;'>
			
			
			<!-- LOGO -->
			<div class="">
				<gap></gap>
				<gap></gap>
				<center>
						<!---->
							<img classs='img-responsive outline' src='http://dummyimage.com/1600x400/000/222&text=Logo'></img>
						<!---->
				</center>	
				<gap></gap>
			</div>
			<br><br>	
				
			
			<!-- INFO -->
			<div ng-include  src="'fragments/content/info.html'"></div>
			
			<!-- FACTS -->
			<div ng-include src="'fragments/content/facts.html'"></div>
			
			<!-- ODDS -->
			<div ng-include src="'fragments/content/odds.html'"></div>
	
	
			<!-- CREDITS -->
			<div class="small-12 columns div-padding">
				<div class='row'>
					<div class="small-6 columns pull-left">
						<h5>Entry created by: {{queryResults.submitter}}</h5>
						<p>Last edited: {{entryDate}}</p>
					</div>
					<div class="small-6 columns pull-left"> 
						<div class='pull-right' ng-if="queryResults.submitterID == '' || queryResults.submitterID == userData.id || userData.permission == 'superadmin'"> 
							<button ui-sref="page2({type: 'edit', name: queryResults.name})" class='button'> <i class="fa fa-pencil-square-o"></i> Edit </button>
						</div>
					</div>
				</div>
			</div>
			
			<!-- GAP -->
			<gap></gap>
			<gap></gap>			
			
		</div>