		<!-- OTHER FACTS -->		
		<div class="small-12 columns div-padding" ng-class='{true: "shade-of-black div-boundry "}[checkBox.facts]'>
			
				<div class='small-12 pull-left' ng-class='{true: "reveal", false: "vanish"}[checkBox.facts]'>
					<span ng-model="checkBox.facts" style='' class='pull-right' btn-checkbox btn-checkbox-true=true btn-checkbox-false=false>
						<i class="fa fa-2x" ng-class='{true: "fa-check-circle-o", false: "fa-circle-o"}[checkBox.facts]'></i>
					</span>
				</div>
				<div class='small-12 columns pull-left' ng-class='{true: "vanish", false: "reveal"}[checkBox.facts]'>
					<center>
						<div class='small-4'>
							<button class='radius expand' ng-click='checkBox.facts = !checkBox.facts'><h4 class='isPointer' >Show me the figures, bub</h4></button>
						</div>				
					</center>
					<br><br>
				</div>			
			
			<div class="row">
			

				<div class='small-12 columns pull-left' ng-class='{true: "reveal", false: "vanish"}[checkBox.facts]'>	
					
					<div class="small-12 medium-12 large-6 columns">
	
						<centered>
							<h3>{{queryResults.name|stringCapitalize}} in Numbers</h3>
							<br><br>
	
							<div class='small-12 medium-5 iconBox green-gradient'>
								<h1>{{ worldStatistics.global.numbers }}</h1>
								<p>{{ worldStatistics.global.unit }} people exist</p>
								<i class="fa fa-globe fa-5x"></i><br><br>
								
							</div>
							<div class='small-12 medium-2 pull-left'>
								<br><br><br><br>
								<strong style='font-size: 50px;'> + </strong>
								<br><br><br><br>
							</div>							
							<div class='small-12 medium-5 iconBox green-gradient'>
								<h1>{{totalNumbers.religions}}+</h1>
								<p># of world religions</p>
								
								<i class="fa fa-thumbs-up fa-5x"></i><br><br>
								
							</div>						
							<gap></gap>
							<div class='show-for-large-up'>
								<donut mousemove="openTooltip(model, 1)" mouseleave="closeTooltip()" stroke="'black'"  width='' height='200' radius="75" colours="donutColours" ng-model="donutData" property="'numbers'"></donut>
								<br>	
								<p>
								<div style='width: 15px; height: 15px; background-color: purple; float: left'></div> &nbsp;&nbsp;{{donutData[0].name}} {{worldStatistics.global.inCommas}}<br><br>
								<div style='width: 15px; height: 15px; background-color: orange; float: left'></div> &nbsp;&nbsp;{{queryResults.name|stringCapitalize}}: {{queryResults.followers2}}<br><br>
								*Approximate Estimates
								</p>								
							</div>
						</centered>
				
				
						</div>		
						
						<gap class="show-for-medium-down"></gap>
						
												
						<div class="small-12 medium-12 large-6 columns">
							<centered>
							<h3>Believers & Non-Believers</h3>	
							<br><br>	
								<centered>
									<div class='medium-5 small-12 iconBox blue-gradient'>
										<h1>{{ worldStatistics.believers.numbers }}</h1>
										<p>{{ worldStatistics.believers.unit }} people</p>
										
										<i class="fa fa-users fa-5x"></i><br><br>
										<p>believe in {{queryResults.name|stringCapitalize}} </p>
									</div>
									<div class='medium-2 small-12 pull-left'>
										<br><br><br><br>
										<strong style='font-size: 50px;'><i class="fa fa-share"></i></strong>
										<br><br><br><br>
									</div>							
									<div class='medium-5 small-12 iconBox blue-gradient'>
										<h1>{{worldStatistics.believers.percentage}}%</h1>
										<p>of people</p>
										
										<i class="fa fa-thumbs-up fa-3x"></i><br><br>
										<p>believe in {{queryResults.name|stringCapitalize}}</p>
									</div>
								
								<gap></gap>
									
									<div class='medium-5 small-12 iconBox red-gradient'>
										<h1>{{ worldStatistics.nonBelievers.numbers }}</h1>
										<p>{{ worldStatistics.nonBelievers.unit }} people</p>
										
										<i class="fa fa-users fa-5x"></i><br><br>
										<p>DO NOT believe in {{queryResults.name|stringCapitalize}}</p>
									</div>		
									<div class='medium-2 small-12 pull-left'>
										<br><br><br><br>
										<strong style='font-size: 50px;'><i class="fa fa-share"></i></strong>
										<br><br><br><br>
									</div>								
									<div class='medium-5 small-12 iconBox red-gradient'>
										<h1>{{worldStatistics.nonBelievers.percentage}}%</h1>
										<p>of people</p>
										
										<i class="fa fa-thumbs-down fa-3x"></i><br><br>
										<p>DO NOT believe in {{queryResults.name|stringCapitalize}}</p>
									</div>
																
								</centered>
							
								
						 	</centered>
						</div>	
						
						<div class="small-12">
							
						</div>
						
					</div>	

			</div>
		</div>	
		