	
		<!-- AFTERLIFE -->	
		<div class="small-12 columns div-padding" ng-class='{true: "shade-of-black div-boundry "}[checkBox.afterlife]'>
			
					<div class='small-12 pull-left' ng-class='{true: "reveal", false: "vanish"}[checkBox.afterlife]'>
						<span ng-model="checkBox.afterlife" style='' class='pull-right' btn-checkbox btn-checkbox-true=true btn-checkbox-false=false>
							<i class="fa fa-2x" ng-class='{true: "fa-check-circle-o", false: "fa-circle-o"}[checkBox.afterlife]'></i>
						</span>
					</div>
					<div class='small-12 columns pull-left' ng-class='{true: "vanish", false: "reveal"}[checkBox.afterlife]'>
						<center>
							<div class='small-4'>
								<button class='radius expand' ng-click='checkBox.afterlife = !checkBox.afterlife'><h4 class='isPointer'>Tell me about the afterlife</h4></button>
							</div>
						</center>
						<br><br>
					</div>			
			
			<div class="row" >	
					<!---->
					

					<div class='small-12 columns pull-left' ng-class='{true: "reveal", false: "vanish"}[checkBox.afterlife]'>	
						<div class='large-1 show-for-large-up columns pull-left'>
							<span style='font-size: 150px'>{</span>
						</div>			
						<div class='medium-12 large-10 columns pull-left'>	
							<centered>		
								<h3>Don't believe in <br>
								<strong class='reallyBig'>{{queryResults.name|stringCapitalize}}?</strong>
								<br>Well, this is <em>what happens if you're wrong.</em>					
								</h3>
							</centered>
						</div>	
						<div class='large-1 show-for-large-up columns pull-left'>
							<span style='font-size: 150px'>}</span>
						</div>	
						
						<gap></gap>
						
						<div class='small-12 columns'>											
							<div class='small-12 large-6 pull-left columns '>
								<h3><strong>Heaven:</strong></h3>	
								<div ng-bind-html="queryResults.heaven"></div>
								<gap></gap>
							</div>
							<div class='small-12 large-6  pull-left columns'>
								<h3><strong>Hell:</strong></h3> 
								<div ng-bind-html="queryResults.hell"></div>
								<gap></gap>
							</div>		
						</div>	
					</div>						
			</div>
		</div>
		
		
		<!-- DESCRIPTION -->
		<div class="small-12 columns div-padding" ng-class='{true: "shade-of-black div-boundry "}[checkBox.core]'>
			
					<div class='small-12 pull-left' ng-class='{true: "reveal", false: "vanish"}[checkBox.core]'>
						<span ng-model="checkBox.core" style='' class='pull-right' btn-checkbox btn-checkbox-true=true btn-checkbox-false=false>
							<i class="fa fa-2x" ng-class='{true: "fa-check-circle-o", false: "fa-circle-o"}[checkBox.core]'></i>
						</span>
					</div>
					<div class='small-12 columns pull-left' ng-class='{true: "vanish", false: "reveal"}[checkBox.core]'>
						<center>
							<div class='small-4'>
								<button class='radius expand' ng-click='checkBox.core = !checkBox.core'><h4 class='isPointer'>Tell me more about this religion</h4></button>
							</div>								
						</center>
						<br><br>
					</div>			
					
			
					
					

					<div class='small-12 columns pull-left' ng-class='{true: "reveal", false: "vanish"}[checkBox.core]'>	
					
						<div class="row">
							<div class='small-12 large-12 pull-left'>
											
									<centered>										
										<img style='max-height: 350px; width: auto; '  ng-src="{{logoImage}}" />							
										<gap></gap>
									</centered>														
								
							</div>							
							<div class='small-12 pull-right'>
								<div class='small-12 large-12 pull-left columns'>		            				            	
					            	<h3><strong>Core Beliefs: </strong></h3>            	
					            	<div ng-bind-html="queryResults.description"></div></p>
								</div>
								
								<gap class='show-for-small-only'></gap>
							
								
								<div class='small-12  large-12  pull-left columns'>
					            	<h3><strong>Diety:</strong></h3>
									<div ng-bind-html="queryResults.diety"></div> 
				            	</div> 
			            	</div>
		            	</div>
	            	</div>
					<!---->		
			
		</div>			
		
