		<!-- ODDS -->
		<div class="small-12 columns div-padding" ng-class='{true: "shade-of-black div-boundry "}[checkBox.odds]' >

			<div class='small-12 pull-left' ng-class='{true: "reveal", false: "vanish"}[checkBox.odds]'>
				<span ng-model="checkBox.odds" style='' class='pull-right' btn-checkbox btn-checkbox-true=true btn-checkbox-false=false>
					<i class="fa fa-2x" ng-class='{true: "fa-check-circle-o", false: "fa-circle-o"}[checkBox.odds]'></i>
				</span>
			</div>
			<div class='small-12 columns pull-left' ng-class='{true: "vanish", false: "reveal"}[checkBox.odds]'>
				<center>
					<div class='small-4'>
						<button class='radius expand' ng-click='checkBox.odds = !checkBox.odds'><h4 class='isPointer' >What are the odds of it being right/wrong?</h4></button>
					</div>						
				</center>
				<br><br>
			</div>				
			
			<div class="row">
		
			
					<div class='small-12 columns pull-left' ng-class='{true: "reveal", false: "vanish"}[checkBox.odds]'>
					
						<div class="small-1 columns pull-left" style='margin-top: 45px; '>
							<i class="fa fa-arrow-circle-left fa-2x pull-left"   style="cursor: pointer;" ng-click="cprev()"></i>&nbsp;
						</div>					
					
						<div class="small-10 columns pull-left">
							<centered>							
								<h3>{{queryResults.name|stringCapitalize}} only has a <span class='kindaBig'>{{percentage}}%</span> of being the correct religion.  In fact, here are a list of things that are FAR more statistically feasible.</h3>
							</centered>
						</div>
						
						<div class="small-1 columns pull-left" style='margin-top: 45px; '>
							<i class="fa fa-arrow-circle-right fa-2x pull-right"   style="cursor: pointer;" ng-click="cnext()"></i>
						</div>					
						
						<gap></gap>
						
						
						<div class="small-12 columns pull-left">
							
						        <ul rn-carousel rn-carousel-buffered rn-carousel-index="customIndex" rn-carousel-swipe="{{swipe}}" class="my-slider ng-cloak" >
						            <li ng-repeat="slide in custom">
							                <div class="small-12 columns">		                		                			                
							                	<centered> 
							                	<small>slide {{slide.id}}</small><br><br>
							                	<img ng-src="{{slide.img}}" class="img-responsive" style="cursor: pointer" >
							                	</centered>
							                	<br>
							                </div>	  
						            </li>
						        </ul>
						        
						</div>						
	
						
						<gap></gap>
					
					</div>
			</div>	
		</div>			